<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313178316968-jvoa59coor1hke1no94d8vcreqqbc3fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313178316968-jvoa59coor1hke1no94d8vcreqqbc3fj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313178316968-tmplkete7aj8fu4emfdg5u0io4ptksi5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSe_a6kkBFyNEgjOmpm_BhFPy_WS55M1w</string>
	<key>GCM_SENDER_ID</key>
	<string>313178316968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>signin-37258</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-37258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313178316968:ios:6d727f6db282bbe4e3a29d</string>
	<key>DATABASE_URL</key>
	<string>https://signin-37258.firebaseio.com</string>
</dict>
</plist>